 ../../../.CFUserTextEncoding
        ../../../.DS_Store
        ../../../.android/
        ../../../.bash_history
        ../../../.cache/
        ../../../.composer/
        ../../../.config/
        ../../../.expo/
        ../../../.gitconfig
        ../../../.lesshst
        ../../../.node-gyp/
        ../../../.node_repl_history
        ../../../.npm/
        ../../../.phpls/
        ../../../.software/
        ../../../.ssh/
        ../../../.viminfo
        ../../../.vscode-react-native/
        ../../../.vscode/
        ../../../.zsh_history
        ../../../.zsh_sessions/
        ../../../Applications/
        ../../../Check
        ../../
        ../../../Documents/
        ../../../Downloads/
        ../../../Library/
        ../../../Movies/
        ../../../Music/
        ../../../Pictures/
        ../../../Public/
        ../../../Typescript/